* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }

body {
	color: rgb(225, 225, 225);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

blockquote {
	font-weight: 400;
	font-size: 1.3rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	font-size: 80px;
    color: rgb(182, 182, 182);
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	font-size: 80px;
    color: rgb(182, 182, 182);
	right: -5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}

p {
	margin: 0;
	padding: 0;
}

.background-dark {
    background: linear-gradient(180deg, rgba(31,32,31,1) 0%, rgba(27,28,27,1) 100%);
}

.background-dark-grey {
    background: linear-gradient(180deg, rgb(52, 53, 52) 0%, rgb(40, 41, 40) 100%);
}