body {
    background-color: rgb(250, 250, 250);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

section {
    min-height: 50vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-25%);
    transition: all 1.2s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}