/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    background-color: rgb(22, 24, 23); /* rgb(252, 252, 252) */
  }
  .page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .page-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(165, 165, 165); /* rgb(150, 150, 150) */
    font-size: 13px;
    transition: all 0.25s ease;
  }

  .page-header a:hover {
    color: rgb(231, 215, 141); /* rgb(230, 8, 82) */
  }
  
  .page-header ul {
    display: flex;
    order: 1;
    width: 100%;
    padding: 15px;
    list-style: none;
    place-content: center;
  }
  
  .page-header ul li:not(:last-child) {
    padding-right: 15px;
  }

.current-page {
    color: white !important;
    font-weight: 600;
    pointer-events: none;
}